/// color|1|Font Color|2
$--color-text-primary: #1a1a1a !default;
$--color-text-regular: #666 !default;
$--color-text-secondary: #999 !default;


/// fontSize|1|Font Size|0
$--font-size-extra-large: 21px !default;
/// fontSize|1|Font Size|0
$--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 12px !default;
